<table id=_change_table_options_<%= @migration_method.name %>_<%= @migration_func.name %> border="1" style="margin-left:2em;">
  <tr>
    <th>delete</th>
    <th>Option</th>
    <th>Column</th>
    <th>Value</th>
  </tr>
  <% i = 0 %>
  <% @options.each do |option| %>
    <tr>
      <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][options][' + i.to_s + '][delete]', true, false %></td>
      <td><%= change_table_option_select '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][options][' + i.to_s + '][name]', option.name %></td>
      <td>
        <% if @migration_method.name != 'down' %>
          <%= columns_select '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][options][' + i.to_s + '][column]', @migration_func.name, option.column %>
        <% else %>
          <%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][options][' + i.to_s + '][column]' %>
        <% end %>
      </td>
      <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][options][' + i.to_s + '][value]', option.value %></td>
    </tr>
    <% i += 1 %>
  <% end %>
  <% cookies[:rowCount] = i-1 %>
</table>
　　<%= button_to_function :delete_option, 'deleteTableRow("_change_table_options_' + @migration_method.name + '_' + @migration_func.name + '");' %>
   <%= button_to_function :add_option, 'addOption_' + @migration_method.name + '_' + @migration_func.name + '("_change_table_options_' + @migration_method.name + '_' + @migration_func.name + '");' %>

<script type="text/javascript">
  function addOption_<%= @migration_method.name + '_' + @migration_func.name %>(tableID) {
      var table = document.getElementById(tableID);
      var newTable = document.getElementById("_new_option_<%= @migration_method.name %>_<%= @migration_func.name %>_table");

      var rowCount = table.rows.length;
      var row = table.insertRow(rowCount);
      if($.cookie('rowCount') < rowCount)
        $.cookie('rowCount', rowCount);
      
      alert($.cookie('rowCount'));
      
      var cell0 = row.insertCell(0);
      var element0 = document.createElement("input");
      element0.type = "checkbox";
      element0.name = "[methods][<%= @migration_method.name %>][funcs][<%= @migration_func.name %>][options][" + $.cookie('rowCount') + "][delete]";
      cell0.appendChild(element0);

      var cell1 = row.insertCell(1);
      var element1 = document.createElement("select");
      element1.name = "[methods][<%= @migration_method.name %>][funcs][<%= @migration_func.name %>][options][" + $.cookie('rowCount') + "][name]";
      <% keys = MigrationDefs::ChangeTableOption::Description.keys.reverse#Why??? %>
      var i = <%= keys.count-1 %>;
      var selectedIndex = 0;
      <% keys.each do |opt| %>
        var option_<%= opt %>  = document.createElement("option");
        option_<%= opt %>.text = "<%= opt %>";
        option_<%= opt %>.value = "<%= opt %>";
        element1.options.add(option_<%= opt %>, "<%= opt %>");
        //if("<%= opt %>" == document.getElementById("_new_option_<%= @migration_method.name %>_<%= @migration_func.name %>_option").value) selectedIndex = i;
        i--;
      <% end %>
      //element3.options.selectedIndex = selectedIndex;
      cell1.appendChild(element1);

      var cell2 = row.insertCell(2);
      <% if @migration_method.name != 'down' %>
        var element2 = document.createElement("div");
        element2.name = "[methods][<%= @migration_method.name %>][funcs][<%= @migration_func.name %>][options][" + $.cookie('rowCount') + "][columns_div]";
        element2.id = "_methods_<%= @migration_method.name %>_funcs_<%= @migration_func.name %>_options_" + $.cookie('rowCount') + "_columns_div";
      <% else %>
        var element2 = document.createElement("input");
        element2.type = "text";
        element2.name = "[methods][<%= @migration_method.name %>][funcs][<%= @migration_func.name %>][options][" + $.cookie('rowCount') + "][column]";
      <% end %>
      cell2.appendChild(element2);

      var cell3 = row.insertCell(3);
      var element3 = document.createElement("input");
      element3.type = "text";
      element3.name = "[methods][<%= @migration_method.name %>][funcs][<%= @migration_func.name %>][options][" + $.cookie('rowCount') + "][value]";
      cell3.appendChild(element3);
      
      <% if @migration_method.name != 'down' %>
        updateColumnsDiv(
            document.getElementById("_methods_<%= @migration_method.name %>_funcs_<%= @migration_func.name %>_table_name").value,
            "_methods_<%= @migration_method.name %>_funcs_<%= @migration_func.name %>_options_" + $.cookie('rowCount') + "_columns_div",
            "<%= @migration_method.name %>", "<%= @migration_func.name %>", rowCount
        );
      <% end %>

      $.cookie('rowCount', Number($.cookie('rowCount'))+1);
  }
  
</script>
