<table id="func_rename_index" border="0" style="margin-left:2em;">
  <tr>
    <th>Func</th>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][name]', 'rename_index', :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][table_name]', @migration_func.name, :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][index_name]', @migration_func.index_name %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][new_index_name]', @migration_func.new_index_name %></td>
    <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][][delete]', true, false %></td>
  </tr>
</table>
