<table id="func_add_column" border="0" style="margin-left:2em;">
  <tr>
    <th>delete</th>
    <th>Func</th>
    <th>Table</th>
    <th>Column</th>
    <th>Type</th>
    <% MigrationDefs::ColumnOption::Description.each_key do |key| %>
      <th><%= key %></th>
    <% end %>
  </tr>
  <tr>
    <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][delete]', true, false %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][name]', 'add_column', :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][table_name]', @migration_func.name, :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][column]', !@migration_func.column.nil? ? @migration_func.column.name : "" %></td>
    <td><%= column_select '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][type]',  !@migration_func.column.nil? ? @migration_func.column.type : "" %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][limit]', !@migration_func.column.nil? && !@migration_func.column.option.nil? ? @migration_func.column.option.limit : "" %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][default]', !@migration_func.column.nil? && !@migration_func.column.option.nil? ? @migration_func.column.option.default : "" %></td>
    <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][null]', true, !@migration_func.column.nil? && !@migration_func.column.option.nil? ? @migration_func.column.option.null : "" %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][precision]', !@migration_func.column.nil? && !@migration_func.column.option.nil? ? @migration_func.column.option.precision : "" %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][columns][' + (@migration_func.name.blank? ? 'timestamps' : @migration_func.name) + '][scale]', !@migration_func.column.nil? && !@migration_func.column.option.nil? ? @migration_func.column.option.scale : "" %></td>
  </tr>
</table>
