<table id="func_rename_table" border="0" style="margin-left:2em;">
  <%= @migration_func.inspect %>
  <tr>
    <th width="80em">Func</th>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][name]', 'rename_table', :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][table_name]', @migration_func.name, :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][new_table_name]', @migration_func.new_name %></td>
    <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][' + @migration_func.name + '][delete]', true, false %>delete　</td>
  </tr>
</table>
