<table id="func_rename_column" border="0" style="margin-left:2em;">
  <tr>
    <th width="80em">Func</th>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][name]', 'rename_column', :readonly => true %></td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][table_name]', @migration_func.name, :readonly => true %></td>
    <td>
      <%= columns_select '[methods][' + @migration_method.name + '][funcs][][column_name]', @migration_func.name, @migration_func.column_name %>
    </td>
    <td><%= text_field_tag '[methods][' + @migration_method.name + '][funcs][][new_column_name]', @migration_func.new_column_name %></td>
    <td><%= check_box_tag '[methods][' + @migration_method.name + '][funcs][][delete]', true, false %>delete　</td>
  </tr>
</table>
