<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>VisualMigrate</title>
  <!--[if lt IE 7]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "vm-application", :media => "all" %>
  <%= stylesheet_link_tag    "vm-common", :media => "all" %>
  <%= javascript_include_tag "vm-application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="top">
   <div id="header">
     <table cellpadding="0" cellspacing="0">
       <tr>
         <td width="305px">
          <h1><a href="/visual_migrate/">VisualMigrate</a></h1>
         </td>
         <td width="650px">
          <div id="menu">
            <ul>
              <li><%= link_to "Edit Migration", :action => :edit_migration, :id => params[:id] %></li>
              <li><%= link_to "Direct Edit", :action => :direct_edit, :id => params[:id] %></li>
              <!--li><%#= link_to "Modify Table", :action => :modify_table %></li-->
              <li><%= link_to "command line", :action => :command_line %></li>
            </ul>
          </div>
         </td>
       </tr>
     </table>
   <!-- /#header --></div>
   <!--div id="topicPath">
      <a href="index.html">ホーム</a> &raquo; カテゴリ &raquo; ページ
   </div-->
   <div id="contents">
      <div id="sub">
         <div class="section">
           <% if @section_category == :migrations %>
            <%= render :partial => 'section_migrations' %>
           <% else %>
            <%= render :partial => 'section_tables' %>
           <% end %>
         <!-- /.section --></div>
      <!-- /#sub --></div>
   <!-- /#contents --></div>
      <div id="main">
        <p>
          <%= yield %>
        </p>
      <!-- /#main --></div>
   <div id="footer">
      <div class="copyright">Copyright &copy; 2013 VisualMigrate project.</div>
   <!-- /#footer --></div>
<!-- /#top --></div>

</body>
</html>
